 
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Obibok';
    src: url('../fonts/Obibok-Bold.woff2') format('woff2'),
        url('../fonts/Obibok-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400;
	background: #FBFBBB;
	font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}


/**************************************/
/************* Header CSS ************/
/************************************/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu ul li a {
	color: #000;
	font-family: 'Obibok';
	font-size: 10px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid #EFEFA0;
	padding: 8px 12px;
	display: inline-block;
	transition: 0.3s;
}

.menu ul li a.active ,
.menu ul li a:hover{
	color: #fff;
	background: #000;
	border: 1px solid #000;
}

.menu ul {
	display: flex;
	gap: 12px;
	align-items: center;
}

.header_area {
	background: #FBFBBB;
	padding: 9px 0;
}

.logo a img {
	width: 74px;
}

.header_user a img {
	width: 50px;
} 




/**************************************/
/************* Main CSS ************/
/************************************/


.main_area {
	border-radius:  40px 40px 0px 0px;
	background: #F9FAF5;
	padding: 40px 0;
}

.user_info {
	border-radius: 25px;
	background: #EBE6DC;
	padding: 40px;
	position: relative;
}

.user_cont p {
	width: 100%;
	max-width: 317px;
	color: #2B2824; 
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.user_cont h4 {
	color: #000;
	font-family: 'Graduate', serif; 
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.64px;
	margin-bottom: 8px;
}

.user_img {
	position: absolute;
	right: 24px;
	top: -14px;
}

table.dataTable td.dt-control::before { 
	content: "+";
}
table.dataTable tr.dt-hasChild td.dt-control::before {
	content: "-";
}

table.dataTable thead > tr > th.sorting::before, table.dataTable thead > tr > th.sorting_asc::before{
	
	content: "↓";
}

table.dataTable thead > tr > th.sorting::after, table.dataTable thead > tr > th.sorting_asc::after, table.dataTable thead > tr > th.sorting_desc::after, table.dataTable thead > tr > th.sorting_asc_disabled::after, table.dataTable thead > tr > th.sorting_desc_disabled::after, table.dataTable thead > tr > td.sorting::after, table.dataTable thead > tr > td.sorting_asc::after, table.dataTable thead > tr > td.sorting_desc::after, table.dataTable thead > tr > td.sorting_asc_disabled::after, table.dataTable thead > tr > td.sorting_desc_disabled::after {
 
	content: "";
	content: ""/"";
}

.datatable_main {
	border-radius: 25px;
	border: 1px solid #EFF1E8;
	background: #FFF;
	padding: 40px;
	margin-top: 40px;
}

.done_chart {
	border-radius: 25px;
	border: 1px solid #F5F6F0;
	background: #E3E1FC;
	padding: 40px;
}

.done_header h4 {
	color: var(--violet-dark, #202039);
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	display: flex;
	gap: 7px;
	align-items: center;
}

.done_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.done_header select {
	border-radius: 10px;
	border: 1px solid #CBC8EA;
	padding: 7px 12px;
	color: #202039; 
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	background: transparent;
}

.done_card_left {
	border-radius: 15px;
	background: #FFF;
	padding: 24px;
}

.done_card_left {
	border-radius: 15px;
	background: #FFF;
	padding: 24px;
}

.done_card_left h5 {
	color: var(--violet-light, #696681); 
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	margin-bottom: 18px;
}

.done_card_left h2 {
	color: var(--violet-dark, #202039); 
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -0.56px;
	display: flex;
	gap: 12px;
	align-items: center;
}

.done_card_left h2 span {
	width: 63px;
	height: 22px;
	display: inline-block;
	border-radius: 12px;
	background: #E6F5EB;
	color: #009B2F; 
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -0.22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.done_card_left p {
	color: var(--violet-light, #696681); 
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	margin: 12px 0 16px 0;
}

.done_card_left p span {
	color: #009B2F; 
	font-weight: 700;
}

.btn_1 {
	border-radius: 5px;
	background: var(--Black, #000);
	color: #FFF;
	text-align: center;
	font-family: 'Obibok';
	font-size: 10px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 1.2px;
	padding: 19px 0;
	width: 100%;
	display: inline-block;
	transition: 0.3s;
}

.btn_1:hover{
	opacity: 0.83;
}

.done_card_right {
	border-radius: 15px;
	background: #8579F4;
	padding: 24px;
}

.done_card_right h5 {
	color: #E7E4FD; 
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	margin-bottom: 18px;
}

.done_card_right h2 {
	color: #FFF; 
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	display: flex;
	justify-content: ;
	align-items: center;
	gap: 12px;
}

.done_card_right h2 span {
	width: 59px;
	height: 22px;
	border-radius: 12px;
	background: #FED6E3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #CD1313; 
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -0.22px;
	gap: 5px;
}

.done_card_right p {
	color: #E7E4FD; 
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	margin: 12px 0 18px 0;
}

.done_card_right p span {
	color: #FED6E3;  
	font-weight: 700;
}

.btn_2 {
	border-radius: 5px;
	background: #6558DB;
	color: #FFF;
	text-align: center;
	font-family: 'Obibok';
	font-size: 10px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 1.2px;
	padding: 19px 0;
	display: inline-block;
	width: 100%;
	transition: 0.3s;
}

.btn_2:hover{
	opacity: 0.83;
}

.done_header h4 span {
	border-radius: 12px;
	background: #EBE6DC;
	color: #2B2824; 
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	display: inline-block;
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.datatable_head ul li span {
	color: #B7AEA2; 
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; 
}

.datatable_head ul {
	display: flex; 
	align-items: center;
	padding: 0 16px;
	padding-bottom: 8px;
	border-bottom: 1px solid #EFF1E8;
}

.single_tr li, .datatable_head ul li {
	flex: 0 0 144px;
}

.single_tr li:nth-child(1), .datatable_head ul li:nth-child(1) {
	flex: 0 0 220px;
}

.single_tr li:nth-child(3),
.single_tr li:nth-child(4),
.datatable_head ul li:nth-child(3), .datatable_head ul li:nth-child(4) {
	flex: 0 0 120px;
}

.single_tr {
	display: flex;
	align-items: center;
	padding: 16px;
}

.class_first_plus {
	display: flex;
	align-items: center;
	gap: 8px;
}

.data_img h4 {
	color: #2B2824; 
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -0.28px;
}

.data_img {
	display: flex;
	align-items: center;
	gap: 8px;
}

.status_data {
	border-radius: 12px;
	background: #E6F5EB;
	padding: 6px 8px;
	color: #009B2F; 
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -0.22px;
}

.status_data.danger{
	color: #CD1313; 
	background: #FED6E3;

}

.single_tr li p {
	color: #2B2824; 
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.28px;
}

.data_action i {
	color: #000;
}

.single_tr_bg{
	background: #F9FAF5;
}

.extra_data_tr .single_tr {
	border-bottom: 1px solid #EFF1E8;
}

.extra_data_tr .single_tr:last-child{
	border: none;
}

.extra_data_tr{
	display: none;
}


/* chart csss  */


.bx--graph-header {
	font-weight: 300;
	font-size: 24px;
  }
  
  .overlay {
	fill: #3d70b2;
	opacity: 0.1;
	display: none;
	pointer-events: none;
  }
  
  .line {
	stroke-width: 2;
	stroke: #ff00ff;
	fill: none;
	pointer-events: none;
  }
  
  .axis path {
	stroke: #5a6872;
  }
  
  .tick line {
	stroke: #5a6872;
  }
  
  .tick text {
	fill: #5a6872;
  }
  
  .graph-container {
	position: relative;
  }
  
  .tooltip {
	font-weight: 700;
	padding-left: 1rem 2rem;
	background-color: #fff;
	position: absolute;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #dfe3e6;
	padding: 0.25rem 0.5rem;
	pointer-events: none;
	display: none;
  }
  .tooltip:after {
	content: "";
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
  }
  
  .y path {
	display: none;
  }
  
  .label {
	font-size: 10px;
	font-weight: 700;
	fill: #5a6872;
	text-anchor: middle;
  }

  .graph {
	width: 100%;
}

.bar-container rect {
	width: 12px; 
}

.check_progress {
	border-radius: 15px; 
	background: #000;
	padding: 24px;
}

.check_progress_text h4 {
	color: #FFF; 
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
}

.check_progress_text p {
	color: #FFF; 
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.check_progress_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 11px;
}

.check_progress_header a {
	border-radius: 8px;
	background: #FFC900;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.check_progress_header a i {
	color: #000;
	font-size: 24px;
}

.check_progress img {
	width: 100%;
}

.done_card_right h5 ,
.done_card_left h5 { 
	display: flex;
	align-items: center;
}

.user_cont p span {
	font-weight: 600;
}

/**************************************/
/************* Header CSS ************/
/************************************/

.mobile_bars{
	display: none;
}




/* 

font-family: 'Obibok';

font-family: 'Graduate', serif; 

 */
